---
title: Faith
eleventyExcludeFromCollections: true
description: Thoughts about Christianity and how its principles interconnect with the sciences and daily life
---

<ul class="post-cards-list">
    {% for post in collections.faith %}
        <li class="post-card">
            <article>
                <h3>
                    <a href="{{ post.url | url }}">{{ post.data.title }}</a>
                </h3>
                <p>
                    {{ post.data.description }}
                </p>
                <time class="dateline" datetime="{{ post.date | dateIso }}">{{ post.date | postDate }}</time>
            </article>
        </li>
    {% endfor %}
</ul>