.header-anchor {
    color: var(--color-fg-default);
    text-decoration: none;
    padding-left: 1.5ch;
    margin-left: -1.5ch;
    &:hover:before, &:focus:before {
        color: var(--color-primary-11);
        content: '\00B6';
        position: relative;
        float: left;
        left: -1.5ch;
        width: 0;
        height: 0;
    }
}
.dateline {
    color: var(--color-gray-11);
    text-transform: uppercase;
    font-size: 0.8em;
    font-weight: bold;
    font-family: var(--font-accent);
    font-variant-numeric: lining-nums;
}
:is(h1, h2, h3, h4, h5, h6).pattern {
    padding: 1rem 0;
}