.card {
    border-radius: 1rem;
    box-shadow: 0px 3px 8px rgba(0,0,0,0.2);
    & :first-child {
        margin-top: 0;
    }
    & :last-child {
        margin-bottom: 0;
    }
}
.header-anchor {
    color: var(--color-fg-default);
    text-decoration: none;
    padding-left: 1.5ch;
    margin-left: -1.5ch;
    &:hover:before, &:focus:before {
        font-weight: normal;
        color: var(--color-primary-11);
        content: '\00B6';
        position: relative;
        float: left;
        left: -1.5ch;
        width: 0;
        height: 0;
    }
}