.header-anchor {
    color: var(--color-fg-default);
    text-decoration: none;
    margin-left: -1.5ch;
    padding-left: 0;
    @media screen and (width < 46rem) {
        padding-left: 1.5ch;
    }
    & > span:after {
        color: transparent;
        content: '\00B6';
        position: relative;
        float: left;
        width: 1.5ch;
        left: -1.5ch;
        @media screen and (width < 46rem) {
            width: 2ch;
            float: none;
            left: 1ch;
        }
    }
    &:hover > span:after, &:focus > span:after {
        color: var(--color-primary-11);
    }
}
.dateline {
    color: var(--color-gray-11);
    text-transform: uppercase;
    font-size: 0.7em;
    font-weight: bold;
    font-family: var(--font-accent);
    font-variant-numeric: lining-nums;
    line-height: 1.8rem;
}
:is(h1, h2, h3, h4, h5, h6).pattern {
    padding: 1.5rem 0;
    margin: 0;
}
.post-cards-list {
    list-style: none;
    padding: 0;
    margin: 0;
}
.post-card {
    margin-top: 2rem;
    margin-bottom: 2rem;
    &:first-of-type {
        margin-top: 0;
    }
    & h3 {
        margin-top: 0.2rem;
        margin-bottom: 0;
    }
    & p {
        margin-top: 0.2rem;
    }
}
.post-description {
    font-weight: 300;
    line-height: 1.3;
    font-size: 1.65em;
    margin-top: 1.6rem;
    margin-bottom: 1.6rem;
    color: var(--color-gray-11);
}
.article-content {
    margin-bottom: 3rem;
    &.drop-caps > p:first-of-type::first-letter {
        font-family: var(--font-heading);
        color: var(--color-primary-11);
        float: left;
        font-size: 75px;
        line-height: 10px;
        padding-top: 26px;
        padding-right: 4px;
        padding-left: 4px;
        margin: 0.1em 0.1em 0.2em 0;
    }
    & > :not(:first-child) {
        margin-top: 1em;
        margin-bottom: 0;
    }
    & .reply-and-share {
        display: flex;
        flex-wrap: wrap;
        gap: 0.35rem;
        align-items: baseline;
        & .contact-email {
            padding: 0.5rem;
            background-color: var(--color-primary-bg-static);
            color: var(--color-gray-1-static);
            font-weight: bold;
            font-family: var(--font-heading);
        }
    }
}
.site-footer {
    & > p {
        margin-top: 0;
        margin-bottom: 0;
    }
}
.links-next-prev {
    margin-bottom: 3rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style-type: none;
    padding: 0 1rem;
    gap: 0.5ch;
    &.empty {
        color: var(--color-gray-11);
    }
}
sup.footnote-ref {
    line-height: 0;
}
.share-links {
    display: inline-flex;
    flex-wrap: wrap;
    gap: 0.2rem;
    & label {
        display: inline;
        @media (min-width: 635px) {
            text-transform: lowercase;
            &:before {
                content: 'or '
            }
        }
    }
    &-list {
        display: contents;
        list-style-type: none;
        padding: 0;
    }
}