:root {
    --color-primary-1: hsl(24, 70.0%, 99.0%);
    --color-primary-2: hsl(24, 83.3%, 97.6%);
    --color-primary-3: hsl(24, 100%, 95.3%);
    --color-primary-4: hsl(25, 100%, 92.2%);
    --color-primary-5: hsl(25, 100%, 88.2%);
    --color-primary-6: hsl(25, 100%, 82.8%);
    --color-primary-7: hsl(24, 100%, 75.3%);
    --color-primary-8: hsl(24, 94.5%, 64.3%);
    --color-primary-9: hsl(24, 94.0%, 50.0%);
    --color-primary-10: hsl(24, 100%, 46.5%);
    --color-primary-11: hsl(24, 100%, 37.0%);
    --color-primary-12: hsl(15, 60.0%, 17.0%);

    --color-gray-1: hsl(50, 20.0%, 99.0%);
    --color-gray-2: hsl(60, 7.7%, 97.5%);
    --color-gray-3: hsl(59, 6.5%, 95.1%);
    --color-gray-4: hsl(58, 6.1%, 92.9%);
    --color-gray-5: hsl(57, 6.0%, 90.7%);
    --color-gray-6: hsl(56, 5.9%, 88.4%);
    --color-gray-7: hsl(55, 5.9%, 85.2%);
    --color-gray-8: hsl(51, 6.0%, 77.1%);
    --color-gray-9: hsl(50, 2.0%, 55.7%);
    --color-gray-10: hsl(55, 1.7%, 51.9%);
    --color-gray-11: hsl(50, 2.0%, 43.1%);
    --color-gray-12: hsl(50, 6.0%, 10.0%);

    --font-heading: 'Alegreya Sans', Georgia, serif;
    --font-body: 'Alegreya', Georgia, serif;
    --font-accent: 'Alegreya Sans', Georgia, serif;
}

@media (prefers-color-scheme:dark) {
    :root {
        --color-primary-1: hsl(30, 70.0%, 7.2%);
        --color-primary-2: hsl(28, 100%, 8.4%);
        --color-primary-3: hsl(26, 91.1%, 11.6%);
        --color-primary-4: hsl(25, 88.3%, 14.1%);
        --color-primary-5: hsl(24, 87.6%, 16.6%);
        --color-primary-6: hsl(24, 88.6%, 19.8%);
        --color-primary-7: hsl(24, 92.4%, 24.0%);
        --color-primary-8: hsl(25, 100%, 29.0%);
        --color-primary-9: hsl(24, 94.0%, 50.0%);
        --color-primary-10: hsl(24, 100%, 58.5%);
        --color-primary-11: hsl(24, 100%, 62.2%);
        --color-primary-12: hsl(24, 97.0%, 93.2%);

        --color-gray-1: hsl(61, 2.0%, 8.3%);
        --color-gray-2: hsl(60, 3.7%, 10.6%);
        --color-gray-3: hsl(58, 3.7%, 13.1%);
        --color-gray-4: hsl(57, 3.6%, 15.3%);
        --color-gray-5: hsl(56, 3.7%, 17.4%);
        --color-gray-6: hsl(55, 3.7%, 19.9%);
        --color-gray-7: hsl(53, 3.7%, 23.6%);
        --color-gray-8: hsl(50, 3.8%, 30.6%);
        --color-gray-9: hsl(50, 4.0%, 42.7%);
        --color-gray-10: hsl(52, 3.1%, 48.3%);
        --color-gray-11: hsl(50, 4.0%, 61.8%);
        --color-gray-12: hsl(56, 4.0%, 92.8%);
    }
}

/* ALEGREYA */

/* alegreya-regular - latin-ext_latin */
@font-face {
    font-family: 'Alegreya';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/alegreya-v31-latin-ext_latin-regular.eot');
    /* IE9 Compat Modes */
    src: local(''),
        url('../fonts/alegreya-v31-latin-ext_latin-regular.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('../fonts/alegreya-v31-latin-ext_latin-regular.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../fonts/alegreya-v31-latin-ext_latin-regular.woff') format('woff'),
        /* Modern Browsers */
        url('../fonts/alegreya-v31-latin-ext_latin-regular.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../fonts/alegreya-v31-latin-ext_latin-regular.svg#Alegreya') format('svg');
    /* Legacy iOS */
}

/* alegreya-700 - latin-ext_latin */
@font-face {
    font-family: 'Alegreya';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/alegreya-v31-latin-ext_latin-700.eot');
    /* IE9 Compat Modes */
    src: local(''),
        url('../fonts/alegreya-v31-latin-ext_latin-700.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('../fonts/alegreya-v31-latin-ext_latin-700.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../fonts/alegreya-v31-latin-ext_latin-700.woff') format('woff'),
        /* Modern Browsers */
        url('../fonts/alegreya-v31-latin-ext_latin-700.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../fonts/alegreya-v31-latin-ext_latin-700.svg#Alegreya') format('svg');
    /* Legacy iOS */
}

/* alegreya-italic - latin-ext_latin */
@font-face {
    font-family: 'Alegreya';
    font-style: italic;
    font-weight: 400;
    src: url('../fonts/alegreya-v31-latin-ext_latin-italic.eot');
    /* IE9 Compat Modes */
    src: local(''),
        url('../fonts/alegreya-v31-latin-ext_latin-italic.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('../fonts/alegreya-v31-latin-ext_latin-italic.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../fonts/alegreya-v31-latin-ext_latin-italic.woff') format('woff'),
        /* Modern Browsers */
        url('../fonts/alegreya-v31-latin-ext_latin-italic.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../fonts/alegreya-v31-latin-ext_latin-italic.svg#Alegreya') format('svg');
    /* Legacy iOS */
}

/* ALEGREYA SANS */

/* alegreya-sans-regular - latin-ext_latin */
@font-face {
    font-family: 'Alegreya Sans';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/alegreya-sans-v24-latin-ext_latin-regular.eot');
    /* IE9 Compat Modes */
    src: local(''),
        url('../fonts/alegreya-sans-v24-latin-ext_latin-regular.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('../fonts/alegreya-sans-v24-latin-ext_latin-regular.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../fonts/alegreya-sans-v24-latin-ext_latin-regular.woff') format('woff'),
        /* Modern Browsers */
        url('../fonts/alegreya-sans-v24-latin-ext_latin-regular.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../fonts/alegreya-sans-v24-latin-ext_latin-regular.svg#AlegreyaSans') format('svg');
    /* Legacy iOS */
}

/* alegreya-sans-italic - latin-ext_latin */
@font-face {
    font-family: 'Alegreya Sans';
    font-style: italic;
    font-weight: 400;
    src: url('../fonts/alegreya-sans-v24-latin-ext_latin-italic.eot');
    /* IE9 Compat Modes */
    src: local(''),
        url('../fonts/alegreya-sans-v24-latin-ext_latin-italic.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('../fonts/alegreya-sans-v24-latin-ext_latin-italic.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../fonts/alegreya-sans-v24-latin-ext_latin-italic.woff') format('woff'),
        /* Modern Browsers */
        url('../fonts/alegreya-sans-v24-latin-ext_latin-italic.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../fonts/alegreya-sans-v24-latin-ext_latin-italic.svg#AlegreyaSans') format('svg');
    /* Legacy iOS */
}

/* alegreya-sans-700 - latin-ext_latin */
@font-face {
    font-family: 'Alegreya Sans';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/alegreya-sans-v24-latin-ext_latin-700.eot');
    /* IE9 Compat Modes */
    src: local(''),
        url('../fonts/alegreya-sans-v24-latin-ext_latin-700.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('../fonts/alegreya-sans-v24-latin-ext_latin-700.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../fonts/alegreya-sans-v24-latin-ext_latin-700.woff') format('woff'),
        /* Modern Browsers */
        url('../fonts/alegreya-sans-v24-latin-ext_latin-700.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../fonts/alegreya-sans-v24-latin-ext_latin-700.svg#AlegreyaSans') format('svg');
    /* Legacy iOS */
}

/* Layout */

:root {
    --font-size-base: clamp(1rem, 0.34vw + 0.91rem, 1.19rem);
    --font-size-lg: clamp(1.2rem, 0.7vw + 1.2rem, 1.5rem);
    --font-size-xl: clamp(2.44rem, 2.38vw + 1.85rem, 3.75rem);
}

html {
    font-size: var(--font-size-base);
    font-family: var(--font-body);
    color-scheme: light dark;
    color: var(--color-gray-12);
    background-color: var(--color-gray-1);
}

body {
    margin: 0;
}

html, body {
    height: 100vh;
    height: 100svh;
}
* {
    box-sizing: border-box;
}

h1 {
    margin: 2rem 0;
}
h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-heading);
}

a {
    color: var(--color-primary-11);
}

a:where(:visited) {
    color: var(--color-primary-12);
}

.astro-code {
    padding: 1rem;
    border-radius: 0.2rem;
    border: 1px solid var(--color-gray-10);
}

main {
    margin: auto;
    padding: 1em;
    max-width: 60ch;
}

p {
    line-height: 1.85em;
}

code {
    font-family: var(--font-code, monospace);
}

blockquote {
    border-left: 2px solid var(--color-primary-11);
    margin-left: none;
    line-height: 1.6;
    margin: 1rem 0;
    background: var(--color-primary-4);
    padding: 1rem;
}

blockquote code {
    font-size: 0.875em;
    border: 0.1em solid;
    border-radius: 4px;
    padding: 0.15em 0.25em;
}

h1 {
    font-size: var(--font-size-xl);
}

h2 {
    font-size: var(--font-size-lg);
}

/*NavHeader*/
.skip-to-content-link {
    background-color: var(--color-primary-2);
    height: 46px;
    left: 0;
    padding: 8px;
    position: absolute;
    transform: translateY(-100%);
    transition: transform 0.3s;
    z-index: 1;
}
@media (prefers-reduced-motion: reduce) {
    .skip-to-content-link {
        transition: none;
    }
}
.skip-to-content-link:focus {
    transform: translateY(0%);
}
.logo-link {
    text-decoration: none;
    color: initial;
}
.nav-link {
    margin: 0;
    font-family: var(--font-accent);
    color: var(--color-gray-12);
    text-decoration: none;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 0 0.5rem;
}
.nav-link:hover, 
.nav-link:focus {
    color: var(--color-primary-10);
}
.nav-link.active-link {
    border: 2px solid transparent;
    border-bottom: 2px solid var(--color-primary-9);
}
nav {
    display: flex;
    padding: 0 1rem;
    border-bottom: 1px solid var(--color-gray-8);
    justify-content: space-between;
    align-items: stretch;
    height: 58px;
}
nav ul {
    display: flex;
    margin: 0;
    padding: 0;
}
nav li {
    list-style: none;
}

/*Logo*/
.logo {
    font-size: 2rem;
    color: var(--color-gray-12);
    text-decoration: none;
    font-family: var(--font-heading);
    font-weight: bold;
    transform: translateY(0.2em);
    display: inline-block;
    line-height: 1em;
    vertical-align: middle;
    margin-top: 3px;
}
.accent {
    display: inline-block;
    font-size: 0.5em;
    position: relative;
    transform: translateY(-0.3em);
    color: var(--color-primary-9);
    width: 4px;
    text-align: center;
}

/* Footer */

footer {
    font-size: 0.8em;
    text-align: center;
    background-color: var(--color-gray-3);
    padding: 1rem;
    position: sticky;
    top: 100vh;
}


/* BlogLayout */

.dateline {
    color: var(--color-gray-10);
    text-transform: uppercase;
    font-size: 0.8em;
    font-weight: bold;
    font-family: var(--font-accent);
    font-variant-numeric: lining-nums;
}