:root {
    --guttered-content-width: 60rem;
}
main {
    margin: 0 auto;
    margin-bottom: 2rem;
}
h2 {
    margin-top: 2rem;
    margin-bottom: 1rem;
}
.collection {
    margin-bottom: 1.5rem;
    & h3 {
        margin-left: -1rem;
        margin-right: -1rem;
        padding-top: 0;
        padding-bottom: 0;
        & a {
            text-decoration: none;
            display: block;
            padding: 1rem;
            font-size: 1.5em;
            color: inherit;
        }
    }
    & p {
        margin-top: 0.5rem;
    }
}

.with-sidebar {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    row-gap: 0;
    & > .sidebar {
        flex-grow: 1;
        flex-basis: 20rem;
    }
    & > :not(.sidebar) {
        flex-basis: 0;
        flex-grow: 999;
        min-inline-size: 50%;
    }
}
