.header-anchor {
    color: var(--color-fg-default);
    text-decoration: none;
    margin-left: -1.5ch;
    padding-left: 0;
    @media screen and (width < 46rem) {
        padding-left: 1.5ch;
    }
    & > span:after {
        color: transparent;
        content: '\00B6';
        position: relative;
        float: left;
        width: 1.5ch;
        left: -1.5ch;
        @media screen and (width < 46rem) {
            width: 2ch;
            float: none;
            left: 1ch;
        }
    }
    &:hover > span:after, &:focus > span:after {
        color: var(--color-primary-11);
    }
}
.dateline {
    color: var(--color-gray-11);
    text-transform: uppercase;
    font-size: 0.7em;
    font-weight: bold;
    font-family: var(--font-accent);
    font-variant-numeric: lining-nums;
    line-height: 1.8rem;
}
:is(h1, h2, h3, h4, h5, h6).pattern {
    padding: 1.5rem 0;
    margin: 0;
}
.post-description {
    font-weight: 300;
    line-height: 1.3;
    font-size: 1.65em;
    margin-top: 1.6rem;
    margin-bottom: 1.6rem;
    color: var(--color-gray-11);
}
.links-next-prev {
    margin-bottom: 3rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style-type: none;
    padding: 0 1rem;
    gap: 0.5ch;
    &.empty {
        color: var(--color-gray-11);
    }
}
sup {
    line-height: 0;
}