@use "sass:color";
@use "sass:meta";
@use "sass:string";
@function encodeColor($string) {
	@if meta.type-of($string) == 'color' {
        $hex: string.slice(color.ie-hex-str($string), 4);
        $string:string.unquote("#{$hex}");
    }
    $string: '%23' + $string;
	@return $string;
}

@function headings($from:1, $to:6) {
    @if $from == $to {
        @return 'h#{$from}';
    } @else {
        @return 'h#{$from},' + headings($from+1, $to);
    }
}