<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="Content-Security-Policy" content="default-src 'self'; img-src 'self' data:;">
    {%- if description -%}
      <meta name="description" content="{{ description }}">
    {%- endif -%}
    {%- set titleFull -%}
      {%- if eleventyExcludeFromCollections -%}
        {{- title -}}
      {%- else -%}
        {{- title }} - {{ metadata.title -}}
      {%- endif -%}
    {%- endset -%}
    {#- Title -#}
    <title>{{ titleFull }}</title>
    {#- Styles -#}
    <link rel="stylesheet" href="{{ '/css/style.css' | url }}">
    {%- if pageScopedStyles -%}
    <link rel="stylesheet" href="{{ page.filePathStem | pageScopedStyle | url }}">
    {%- endif -%}
    {#- Icons -#}
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" href="favicon.svg">
    {#- OG and Twitter -#}
    {%- if ogImageTemplatePath -%}
      {%- setAsync "ogOutputUrl" -%}
      {%- ogImage ogImageTemplatePath, { title: title, description: description, pattern: category, date: page.date, hideDateline: eleventyExcludeFromCollections } -%}
      {%- endsetAsync -%}
      <meta property="og:image" content="{{ ogOutputUrl }}">
      <meta name="twitter:image" content="{{ ogOutputUrl }}">
    {%- endif -%}
    <meta property="og:title" content="{{ titleFull }}">
    <meta property="og:type" content="article">
    <meta property="og:url" content="{{ page.url | htmlBaseUrl(metadata.url) }}">
    <meta property="og:locale" content="en">
    <meta property="og:image:alt" content="{{ description }}">
    <meta property="og:site_name" content="{{ metadata.title }}">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="{{ metadata.twitter }}">
    <meta name="twitter:title" content="{{ titleFull }}">
    <meta name="twitter:description" content="{{ description }}">
    <meta name="twitter:image:alt" content="{{ titleFull }} - {{ description }}">
    {#- Tags -#}
    <link rel="manifest" href="/site.webmanifest">
  </head>
  <body>
    {%- include 'partials/site-nav-header.njk' -%}
    <main id="main">
        {{ content | safe }}
    </main>
    {%- include 'partials/site-footer.njk' -%}
  </body>
</html>