<!DOCTYPE html>
<html lang="{{ lang }}" dir="{{ dir }}">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="Content-Security-Policy" content="default-src 'self'; connect-src 'self' https://cloudflareinsights.com/cdn-cgi/rum; script-src 'self' 'sha256-tKZ5Uy4GgbvbzOb22Mh+HYQrc+n+tqAlrtIOaBrgvhc=' https://static.cloudflareinsights.com; img-src 'self' data:;">
    <meta name="generator" content="{{ eleventy.generator }}">
    {%- if description -%}
      <meta name="description" content="{{ description | unmd }}">
    {%- endif -%}
    {%- set titleFull -%}
      {%- if eleventyExcludeFromCollections -%}
        {{- title -}}
      {%- else -%}
        {{- title }} - {{ metadata.title -}}
      {%- endif -%}
    {%- endset -%}
    {#- Title -#}
    <title>{{ titleFull | safe }}</title>
    {#- Styles -#}
    <link rel="stylesheet" href="{{ '/css/style.css' | url }}">
    {%- if pageScopedStyles -%}
    <link rel="stylesheet" href="{{ page.filePathStem | pageScopedStyle | url }}">
    {%- endif -%}
    {#- Icons -#}
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" href="/favicon.svg">
    {#- OG and Twitter -#}
    {%- if ogImageTemplatePath -%}
      {%- setAsync "ogOutputUrl" -%}
      {%- ogImage ogImageTemplatePath, { title: title, description: description, pattern: category, date: page.date, hideDateline: eleventyExcludeFromCollections } -%}
      {%- endsetAsync -%}
      <meta property="og:image" content="{{ ogOutputUrl }}">
      <meta name="twitter:image" content="{{ ogOutputUrl }}">
    {%- endif -%}
    <meta property="og:title" content="{{ titleFull }}">
    <meta property="og:type" content="article">
    <meta property="og:url" content="{{ page.url | htmlBaseUrl(metadata.url) }}">
    <meta property="og:locale" content="en">
    <meta property="og:image:alt" content="{{ description | unmd }}">
    <meta property="og:site_name" content="{{ metadata.title }}">
    <meta name="og:description" content="{{ description | unmd }}">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="{{ metadata.twitter }}">
    <meta name="twitter:title" content="{{ titleFull }}">
    <meta name="twitter:description" content="{{ description | unmd }}">
    <meta name="twitter:image:alt" content="{{ titleFull }} - {{ description | unmd }}">
    {#- Tags -#}
    <link rel="manifest" href="/site.webmanifest">
    {#- Analytics -#}
    <script>
      {{- partytown.snippet | safe -}}
    </script>
    <script type="text/partytown" defer src='https://static.cloudflareinsights.com/beacon.min.js' data-cf-beacon='{"token": "6a72187972844110ba59868a8dca8e54"}'></script>
  </head>
  <body>
    {%- include 'partials/site-nav-header.njk' -%}
    <main id="main">
        {{ content | safe }}
    </main>
    {%- include 'partials/site-footer.njk' -%}
    {%- if includeEmailJs -%}
    <script>
      var el = document.querySelector('.contact-email[data-munged-user]');
      function dec(str) {return str.replace(/[a-zA-Z]/g, function(c){return String.fromCharCode((c<="Z"?90:122)>=(c=c.charCodeAt(0)+13)?c:c-26);})}
      el.innerText = el.dataset.label || "send me an email";
      el.href = dec(`znvygb:${el.dataset.mungedUser}@${el.dataset.mungedDomain}`);
      el.dataset.mungedDomain = null;
      el.dataset.mungedUser = null;
      console.log("foobar");
    </script>
    {%- endif -%}
  </body>
</html>
