<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{{ '/css/style.css' | url }}">
    {% if pageScopedStyles %}
    <link rel="stylesheet" href="{{ page.filePathStem | pageScopedStyle | url }}">
    {% endif %}
  </head>
  <body>
    {% include 'partials/site-nav-header.njk' %}
    <main id="main">
        {{ content | safe }}
    </main>
    {% include 'partials/site-footer.njk' %}
  </body>
</html>