---
layout: base
---
<h1 class="pattern {% if category %} pattern-{{ category }}{% endif %}"><span class="guttered">{{ title }}</span></h1>
<div class="guttered">
    {%- if description -%}
        <p class="post-description">
            {{- description -}}
        </p>
    {%- endif -%}
    {{- content | safe -}}
</div>