---js
{
    layout: "page",
    pagination: {
        before(collection, data) {
            return this.byLang(collection, data.lang);
        },
        size: 5,
        reverse: true,
        alias: "paginatedPosts",
    },
    permalink: "{{ page.filePathStem | trimTrailingIndex }}/{% if pagination.pageNumber > 0 %}{{ pagination.pageNumber }}/{% endif %}index.html"
}
---
<ul class="post-cards-list">
    {% for post in paginatedPosts %}
        <li class="post-card">
            <article>
                <time class="dateline" datetime="{{ post.date | dateIso }}">{{ post.date | postDate }}</time>
                <h3>
                    <a href="{{ post.url | url }}">{{ post.data.title }}</a>
                </h3>
                <p>
                    {{- post.data.description | md | safe -}}
                </p>
            </article>
        </li>
    {% endfor %}
</ul>
{%- set previousPage = pagination.href.previous %}
{%- set nextPage = pagination.href.next %}
{%- if nextPage or previousPage %}
<nav aria-label="Navigation" class="links-next-prev">
    {%- if previousPage %}<a href="{{ previousPage }}">← Newer posts</a>{% endif %}
    {%- if previousPage and nextPage %}<span>|</span>{% endif %}
    {%- if nextPage %}<a href="{{ nextPage }}">Older posts →</a>{% endif %}
</nav>
{%- else -%}
<div class="links-next-prev empty">
    No more posts to show
</div>
{%- endif -%}
