---
layout: page
eleventyExcludeFromCollections: true
---
<ul class="post-cards-list">
    {% for post in paginatedPosts | reverse %}
        <li class="post-card">
            <article>
                <time class="dateline" datetime="{{ post.date | dateIso }}">{{ post.date | postDate }}</time>
                <h3>
                    <a href="{{ post.url | url }}">{{ post.data.title }}</a>
                </h3>
                <p>
                    {{ post.data.description }}
                </p>
            </article>
        </li>
    {% endfor %}
</ul>
