---
layout: base
includeEmailJs: true
---
<h1 class="pattern {% if category %} pattern-{{ category }}{% endif %}"><span class="guttered">{{ title }}</span></h1>
<div class="guttered">
    {%- if description -%}
        <p class="post-description">
            {{- description | md | safe -}}
        </p>
    {%- endif -%}
    {% set regExpCode = r/<pre class=(.|\n)*?<\/pre>/gm %}
    {% set fixedContent = content | replace(regExpCode, "") | striptags %}
    {% set wordCount = fixedContent | wordcount %}
    {% set readingRate = 225 %}
    {% set readingTime = (wordCount/readingRate) | round %}
    {%- if readingTime < 1 %}{% set readingTime = 1 %}{% endif %}
    <p class="dateline">
        <time datetime="{{ page.date | dateIso }}">{{ page.date | postDate }}</time>
        {%- if category %} in <a href="/posts/{{ category }}">{{ category | capitalize -}}</a>{% endif -%}
        <span> &mdash; <span>
        {{- wordCount | numCommas }} words &mdash; Reading time: {{ readingTime }} minute{% if readingTime > 1 %}s{% endif -%}
    </p>
    <div class="article-content {% if dropCap %} drop-caps {%- endif %}">
        {{- content | safe -}}
        {% set mungedEmailLabel = 'Reply via email' %}{% include 'partials/munged-email.njk' %}
    </div>
    {%- if collections.posts | byLang %}
    {%- set previousPost = collections.posts | byLang | getPreviousCollectionItem %}
    {%- set nextPost = collections.posts | byLang | getNextCollectionItem %}
    {%- if nextPost or previousPost %}
    <ul class="links-next-prev">
        {%- if previousPost %}<li>Previous: <a href="{{ previousPost.url }}">{{ previousPost.data.title }}</a></li>{% endif %}
        {%- if previousPost and nextPost %}<span>|</span>{% endif %}
        {%- if nextPost %}<li>Next: <a href="{{ nextPost.url }}">{{ nextPost.data.title }}</a></li>{% endif %}
    </ul>
    {%- endif %}
    {%- endif %}
</div>