---
layout: base
---
<h1 {% if bgPattern %} class="pattern pattern-{{ bgPattern }}" {% endif %}><span class="guttered">{{ title }}</span></h1>
<div class="guttered">
    {% if (not eleventyExcludeFromCollections) %}
        <p class="dateline">{{ page.date | postDate }}</p>
    {% endif %}
    {{ content | safe }}
</div>