---
layout: base
---
<h1 class="pattern pattern-faith invert"><span class="post-title-inner">{{ title }}</span></h1>
<div class="post-content">
    <p class="dateline">{{ page.date | postDate }}</p>
    {{ content | safe }}
</div>