$hue-primary: 280;

$color-primary-fg: hsl($hue-primary, 70%, 30%);
$color-primary-bg: hsl($hue-primary, 80%, 20%);

//Light
$color-primary-light-1: hsl($hue-primary, 30.0%, 98.8%);
$color-primary-light-2: hsl($hue-primary, 35%, 97.6%);
$color-primary-light-3: hsl($hue-primary, 40%, 95.3%);
$color-primary-light-4: hsl($hue-primary, 45%, 93.2%);
$color-primary-light-5: hsl($hue-primary, 50%, 91.1%);
$color-primary-light-6: hsl($hue-primary, 60%, 88.9%);
$color-primary-light-7: hsl($hue-primary, 57%, 85.9%);
$color-primary-light-8: hsl($hue-primary, 55%, 78.0%);
$color-primary-light-9: hsl($hue-primary, 45%, 56.1%);
$color-primary-light-10: hsl($hue-primary, 50%, 52.3%);
$color-primary-light-11: hsl($hue-primary, 57%, 40%);
$color-primary-light-12: hsl($hue-primary, 70%, 9.0%);

$color-gray-light-1: hsl($hue-primary, 30.0%, 98.8%);
$color-gray-light-2: hsl($hue-primary, 16.7%, 97.6%);
$color-gray-light-3: hsl($hue-primary, 13.3%, 95.3%);
$color-gray-light-4: hsl($hue-primary, 12.2%, 93.2%);
$color-gray-light-5: hsl($hue-primary, 11.7%, 91.1%);
$color-gray-light-6: hsl($hue-primary, 11.3%, 88.9%);
$color-gray-light-7: hsl($hue-primary, 11.1%, 85.9%);
$color-gray-light-8: hsl($hue-primary, 10.7%, 78.0%);
$color-gray-light-9: hsl($hue-primary, 6.0%, 56.1%);
$color-gray-light-10: hsl($hue-primary, 5.8%, 52.3%);
$color-gray-light-11: hsl($hue-primary, 6.0%, 43.5%);
$color-gray-light-12: hsl($hue-primary, 24.0%, 9.0%);

//Dark
$color-primary-dark-1: hsl($hue-primary, 60%, 9.0%);
$color-primary-dark-2: hsl($hue-primary, 50%, 11.0%);
$color-primary-dark-3: hsl($hue-primary, 42%, 13.6%);
$color-primary-dark-4: hsl($hue-primary, 40%, 15.8%);
$color-primary-dark-5: hsl($hue-primary, 36%, 17.9%);
$color-primary-dark-6: hsl($hue-primary, 34%, 20.5%);
$color-primary-dark-7: hsl($hue-primary, 30%, 24.3%);
$color-primary-dark-8: hsl($hue-primary, 26%, 31.6%);
$color-primary-dark-9: hsl($hue-primary, 30%, 43.9%);
$color-primary-dark-10: hsl($hue-primary, 26%, 49.5%);
$color-primary-dark-11: hsl($hue-primary, 35%, 63.0%);
$color-primary-dark-12: hsl($hue-primary, 30%, 93.0%);

$color-gray-dark-1: hsl($hue-primary, 7.0%, 8.8%);
$color-gray-dark-2: hsl($hue-primary, 7.1%, 11.0%);
$color-gray-dark-3: hsl($hue-primary, 6.8%, 13.6%);
$color-gray-dark-4: hsl($hue-primary, 6.6%, 15.8%);
$color-gray-dark-5: hsl($hue-primary, 6.4%, 17.9%);
$color-gray-dark-6: hsl($hue-primary, 6.2%, 20.5%);
$color-gray-dark-7: hsl($hue-primary, 6.0%, 24.3%);
$color-gray-dark-8: hsl($hue-primary, 5.6%, 31.6%);
$color-gray-dark-9: hsl($hue-primary, 6.0%, 43.9%);
$color-gray-dark-10: hsl($hue-primary, 5.2%, 49.5%);
$color-gray-dark-11: hsl($hue-primary, 6.0%, 63.0%);
$color-gray-dark-12: hsl($hue-primary, 6.0%, 93.0%);