:root {
    --font-heading: 'Figtree Variable', 'Figtree Variable override', Arial, sans-serif;
    --font-body: 'Faustina Variable', 'Faustina Variable override', Georgia, serif;
    --font-accent: 'Figtree Variable', 'Figtree Variable override', Arial, sans-serif;
    --font-code: Consolas, 'Courier New', monospace;
}