---js
{
    title: "Faith",
    description: "Thoughts about the Gospel of Jesus Christ and how its principles interconnect with the sciences and daily life",
    "override:tags": [ 'category' ],
    layout: "collection",
    pagination: {
        data: "collections.faith",
    },
}
---