---
title: Software
eleventyExcludeFromCollections: true
description: Posts about software engineering, UI and UX design, and other aspects of software development
---

<ul>
    {% for post in collections.software -%}
        <li><a href={{ post.url }}>{{ post.data.title }}</a></li>
    {% endfor %}
<ul>