---
import JamComments from "@jam-comments/astro";
---
<div class="jamcomments-container">
    <h2 id="comments">Comments</h2>
    <JamComments
        tz="America/Denver"
    />
</div>
<style lang="scss" is:global>
    h2#comments:target {
        background-color: var(--color-primary-bg-static);
        color: var(--color-primary-1-static);
        margin: 0 -1rem;
        padding: 1rem;
    }
    .jamcomments-container {
        p {
            margin-top: 0;
            margin-bottom: 0;
        }
        .jc-Shell {
            --jc-gray-dark: var(--color-gray-11);
            --jc-editor-background: var(--color-gray-1);
        }
        .jc-CommentList-list {
            gap: 1rem;
        }
        .jc-Comment-content {
            padding-bottom: 0.5rem;
            & > br:last-child {
                display: none;
            }
        }

        .jc-Editor-tabButton {
            color: var(--color-gray-12);
            background-color: var(--color-gray-1);
            text-align: center;
            &:hover,
            &:focus {
                background-color: var(--color-gray-1);
            }
        }
        .jc-Comment-actionButton {
            font-family: var(--font-accent);
            cursor: pointer;
            border: none;
            color: var(--color-primary-11);
            background-color: var(--color-gray-1);
            border-radius: 0;
            font-weight: 600;
            padding: 0.2rem 0.7rem;
            text-align: center;
        }
        .jc-Editor-tab,
        .jc-CommentBox textarea,
        .jc-CommentBox input,
        .jc-CommentBox-preview {
            border-radius: 0;
        }
    }
</style>
