---

---

<span class="logo" aria-hidden="true">TM</span>
<style lang="scss">
  .logo {
    font-size: 2rem;
    background-color: var(--color-primary-bg-static);
    color: var(--color-gray-1-static);
    text-decoration: none;
    font-family: var(--font-heading);
    font-weight: bold;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    height: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
  }
</style>
