---
export type Props = {
    label: string;
    class?: string;
};

const { class: className, label, ...rest } = Astro.props;
---

<a
    class={className + " contact-email"}
    target="_blank"
    data-munged-user="pbagnpg"
    data-munged-domain="glyrezrepre.arg"
    data-label={label}
    {...rest}
>
    [Enable JS to view email link]
</a>
<script>
    var links: NodeListOf<HTMLAnchorElement> = document.querySelectorAll(
        ".contact-email[data-munged-user]",
    )!;
    function dec(str: string) {
        return str.replace(/[a-zA-Z]/g, function (c: any) {
            return String.fromCharCode(
                (c <= "Z" ? 90 : 122) >= (c = c.charCodeAt(0) + 13)
                    ? c
                    : c - 26,
            );
        });
    }
    links.forEach((link) => {
        link.innerText = link.dataset.label || "send me an email";
        link.href = dec(
            `znvygb:${link.dataset.mungedUser}@${link.dataset.mungedDomain}`,
        );
        link.removeAttribute("data-munged-user");
        link.removeAttribute("data-munged-domain");
        link.removeAttribute("data-label");
    });
</script>
