@mixin light-colors {
    --color-primary-1: hsl(206, 30.0%, 98.8%);
    --color-primary-2: hsl(210, 16.7%, 97.6%);
    --color-primary-3: hsl(209, 13.3%, 95.3%);
    --color-primary-4: hsl(209, 12.2%, 93.2%);
    --color-primary-5: hsl(208, 11.7%, 91.1%);
    --color-primary-6: hsl(208, 11.3%, 88.9%);
    --color-primary-7: hsl(207, 11.1%, 85.9%);
    --color-primary-8: hsl(205, 10.7%, 78.0%);
    --color-primary-9: hsl(206, 6.0%, 56.1%);
    --color-primary-10: hsl(206, 5.8%, 52.3%);
    --color-primary-11: hsl(206, 6.0%, 43.5%);
    --color-primary-12: hsl(206, 24.0%, 9.0%);

// Right now the primary and gray colors are the same but this may change
    --color-gray-1: hsl(206, 30.0%, 98.8%);
    --color-gray-2: hsl(210, 16.7%, 97.6%);
    --color-gray-3: hsl(209, 13.3%, 95.3%);
    --color-gray-4: hsl(209, 12.2%, 93.2%);
    --color-gray-5: hsl(208, 11.7%, 91.1%);
    --color-gray-6: hsl(208, 11.3%, 88.9%);
    --color-gray-7: hsl(207, 11.1%, 85.9%);
    --color-gray-8: hsl(205, 10.7%, 78.0%);
    --color-gray-9: hsl(206, 6.0%, 56.1%);
    --color-gray-10: hsl(206, 5.8%, 52.3%);
    --color-gray-11: hsl(206, 6.0%, 43.5%);
    --color-gray-12: hsl(206, 24.0%, 9.0%);
}

@mixin dark-colors {
    --color-primary-1: hsl(200, 7.0%, 8.8%);
    --color-primary-2: hsl(195, 7.1%, 11.0%);
    --color-primary-3: hsl(197, 6.8%, 13.6%);
    --color-primary-4: hsl(198, 6.6%, 15.8%);
    --color-primary-5: hsl(199, 6.4%, 17.9%);
    --color-primary-6: hsl(201, 6.2%, 20.5%);
    --color-primary-7: hsl(203, 6.0%, 24.3%);
    --color-primary-8: hsl(207, 5.6%, 31.6%);
    --color-primary-9: hsl(206, 6.0%, 43.9%);
    --color-primary-10: hsl(206, 5.2%, 49.5%);
    --color-primary-11: hsl(206, 6.0%, 63.0%);
    --color-primary-12: hsl(210, 6.0%, 93.0%);

// Right now the primary and gray colors are the same but this may change
    --color-gray-1: hsl(200, 7.0%, 8.8%);
    --color-gray-2: hsl(195, 7.1%, 11.0%);
    --color-gray-3: hsl(197, 6.8%, 13.6%);
    --color-gray-4: hsl(198, 6.6%, 15.8%);
    --color-gray-5: hsl(199, 6.4%, 17.9%);
    --color-gray-6: hsl(201, 6.2%, 20.5%);
    --color-gray-7: hsl(203, 6.0%, 24.3%);
    --color-gray-8: hsl(207, 5.6%, 31.6%);
    --color-gray-9: hsl(206, 6.0%, 43.9%);
    --color-gray-10: hsl(206, 5.2%, 49.5%);
    --color-gray-11: hsl(206, 6.0%, 63.0%);
    --color-gray-12: hsl(210, 6.0%, 93.0%);
}

:root {
    @include light-colors;
    @media (prefers-color-scheme:dark) {
        @include dark-colors;
    }
}
.inverted {
    @include dark-colors;
    @media (prefers-color-scheme:dark) {
        @include light-colors;
    }
}