@import '../../../node_modules/@fontsource/figtree/400';
@import '../../../node_modules/@fontsource/figtree/400-italic';
@import '../../../node_modules/@fontsource/figtree/700';
@import '../../../node_modules/@fontsource/figtree/700-italic';

@import '../../../node_modules/@fontsource/faustina/400';
@import '../../../node_modules/@fontsource/faustina/400-italic';
@import '../../../node_modules/@fontsource/faustina/700';

:root {
    --font-heading: 'Figtree', Arial, sans-serif;
    --font-body: 'Faustina', Georgia, serif;
    --font-accent: 'Figtree', Arial, sans-serif;
    --font-code: Consolas, 'Courier New', monospace;
}