@import 'fonts/rubik.scss';

:root {
    --font-heading: 'Rubik', Arial, sans-serif;
    --font-body: Georgia, serif;
    --font-accent: ui-monospace,
        Menlo, Monaco,
        "Cascadia Mono", "Segoe UI Mono",
        "Roboto Mono",
        "Oxygen Mono",
        "Ubuntu Monospace",
        "Source Code Pro",
        "Fira Mono",
        "Droid Sans Mono",
        "Courier New", monospace;
}