@import 'fonts/rubik.scss';
@import 'fonts/figtree.scss';

:root {
    --font-heading: 'Figtree', Arial, sans-serif;
    --font-body: Georgia, serif;
    --font-accent: 'Figtree', Arial, sans-serif;
}