---
import category from "@content/_allPostsCategory";
import type { GetStaticPaths } from "astro";
import { getCollection, type CollectionEntry } from "astro:content";

import LinkCard from "@components/LinkCard.astro";
import NextPrevLinks from "@components/NextPrevLinks.astro";
import Layout from "@layouts/Page.astro";

export type Props = {
    page: {
        data: CollectionEntry<"links">[];
        url: {
            next: string;
            prev: string;
        };
    };
};

const { page } = Astro.props;

export const getStaticPaths = (async ({ paginate }) => {
    const links = await getCollection("links");
    return paginate(
        links.sort((a, b) => (a.slug > b.slug ? -1 : 1)),
        { pageSize: 100 },
    );
}) satisfies GetStaticPaths;

const nextPageUrl = page.url.next;
const previousPageUrl = page.url.prev;
const paginatedLinks = page.data;

const isFirstPage = !previousPageUrl;

const previous = previousPageUrl
    ? {
          label: "← Newer",
          path: previousPageUrl,
      }
    : undefined;
const next = nextPageUrl
    ? {
          label: "Older →",
          path: nextPageUrl,
      }
    : undefined;
---

<Layout
    title={"Linkblog"}
    description={"Links that I find interesting"}
    category={category}
    ogImagePath={"/home"}
>
    {
        isFirstPage && (
            <details>
                <summary>What is this?</summary>
                <p>
                    This is what is known among{" "}
                    <a href="https://indieweb.org/">IndieWeb</a> writers as a
                    <a href="https://en.wikipedia.org/wiki/Linklog">linkblog</a>
                    . It's a collection of links that I find interesting.
                </p>
                <p>
                    Most of the links I share are of a technical nature, but I
                    also occasionally share links relating to UI/UX design or
                    behavioral science.
                </p>
                <p>
                    <a href="/posts/software/linkblog">Learn more here</a>. You
                    can also subscribe to this feed via{" "}
                    <a href="/feeds/links.xml">RSS</a> or
                    <a href="/feeds/links.json">JSON</a>.
                </p>
            </details>
        )
    }
    <ul id="links" class="links-list">
        {
            paginatedLinks.map((l) => (
                <li>
                    <LinkCard link={l} />
                </li>
            ))
        }
    </ul>
    <div id="next-prev-links">
        <NextPrevLinks next={next} previous={previous} />
    </div>
</Layout>
<style lang="scss">
    .links-list {
        list-style: none;
        padding: 0;
        margin: 0;
        & li {
            margin-block: 3rem;
        }
    }
</style>
