---
import Comments from "@components/Comments.astro";
import LinkCard from "@components/LinkCard.astro";
import Layout from "@layouts/Base.astro";
import formatPostDate from "@utils/formatPostDate";
import getLinkDate from "@utils/getLinkDate";
import getLinkSlug from "@utils/getLinkSlug";
import { type CollectionEntry, getCollection } from "astro:content";
import unMarkdown from "lib/unMarkdown";

export async function getStaticPaths() {
    const links = await getCollection("links");
    return links.map((entry: CollectionEntry<"links">) => ({
        params: { slug: getLinkSlug(entry) },
        props: { entry },
    }));
}

export type Props = {
    entry: CollectionEntry<"links">;
};
const { entry } = Astro.props;
---

<Layout
    title={formatPostDate(getLinkDate(entry.slug))}
    description={unMarkdown(entry.body)}
    ogImagePath="/home"
>
    <div class="l-sidebar u-guttered link-container">
        <div class="link-card">
            <LinkCard link={entry} useH1 />
        </div>
        <div class="sidebar">
            <Comments />
        </div>
    </div>
</Layout>

<style lang="scss">
    .link-container {
        --u-guttered-content-width: 60rem;
        --l-sidebar-width: 25rem;
        margin-top: 1rem;
    }
    .link-card {
        align-self: flex-start;
        // Magic number is gross but that's what you get combining media queries and Every Layout
        @media (min-width: 1092px) {
            position: sticky;
            top: 2rem;
        }
    }
</style>

<style lang="scss" is:global>
    html:has(#comments:target) {
        scroll-behavior: smooth;
    }
</style>