.dateline {
    color: var(--color-gray-10);
    text-transform: uppercase;
    font-size: 0.8em;
    font-weight: bold;
    font-family: var(--font-accent);
    font-variant-numeric: lining-nums;
}
.guttered {
    max-width: 36rem;
    margin: 0 auto;
    padding: 1rem;
    display: block;
}