---
title: All Posts
eleventyExcludeFromCollections: true
layout: base
---

<div class="guttered">
    <h1>{{ title }}</h1>

    <ul class="post-cards-list">
        {% for post in collections.posts %}
            <li class="post-card">
                <article>
                    <h3>
                        <a href="{{ post.url | url }}">{{ post.data.title }}</a>
                    </h3>
                    <p>
                        {{ post.data.description }}
                    </p>
                    <time class="dateline" datetime="{{ post.date | dateIso }}">{{ post.date | postDate }}</time>
                </article>
            </li>
        {% endfor %}
    </ul>
</div>
