---
title: Tyler Mercer
description: Design-minded web developer and software engineer
layout: base
eleventyExcludeFromCollections: true
pageScopedStyles: true
pagination:
    data: collections.all
    size: 10
    reverse: true
    alias: posts
ogImageTemplatePath: ./src/_og-image-templates/post.og.njk
---


<div class="with-sidebar guttered">
    <div class="posts">
        <h1>Tyler Mercer</h1>
        <h2>Latest Posts</h2>
        <ul>
            {% for post in posts %}
            <li class="post">
                <article>
                    <h3>
                        <a href="{{ post.url | url }}">{{ post.data.title }}</a>
                    </h3>
                    <time class="dateline" datetime="{{ post.date | dateIso }}">{{ post.date | postDate }}</time>
                    <p>
                        {%- excerpt post -%}
                    </p>
                </article>
            </li>
            {% endfor %}
        </ul>
        <p><a href="/posts/">All Posts</a></p>
    </div>
    <div class="sidebar">
        <h2>Collections</h2>
        <div class="collections">
            <div class="collection">
                <h3 class="pattern pattern-software"><a href="/posts/software/">Software</a></h3>
                <p>Posts about software engineering, UI and UX design, and other aspects of software development</p>
            </div>
            <div class="collection">
                <h3 class="pattern pattern-faith"><a href="/posts/faith/">Faith</a></h3>
                <p>Thoughts about Christianity and how its principles interconnect with the sciences and daily life</p>
            </div>
        </div>
    </div>
</div>



