---
title: Tyler Mercer
description: Design-minded web developer and software engineer
layout: base
eleventyExcludeFromCollections: true
pageScopedStyles: true
pagination:
    data: collections.posts
    size: 10
    reverse: true
    alias: posts
ogImageTemplatePath : ./src/_og-image-templates/home.og.njk
---


<div class="with-sidebar guttered">
    <div class="posts">
        <h1>Tyler Mercer</h1>
        <p>{{ description }} </p>
        <h2>Latest Posts</h2>
        <ul class="post-cards-list">
            {%- for post in posts -%}
            <li class="post-card">
                <article>
                    <time class="dateline" datetime="{{ post.date | dateIso }}">{{ post.date | postDate }}</time>
                    <h3>
                        <a href="{{ post.url | url }}">{{ post.data.title }}</a>
                    </h3>
                    <p>
                        {{- post.data.description -}}
                    </p>
                </article>
            </li>
            {%- endfor -%}
        </ul>
        <p><a href="/posts/">All Posts</a></p>
    </div>
    <div class="sidebar">
        <h2>Collections</h2>
        <div class="collections">
            {% for category in collections.category %}
                <div class="collection">
                    <h3 class="pattern pattern-{{ category.data.category }}"><a href="{{ category.url | url }}">{{ category.data.title }}</a></h3>
                    <p>{{ category.data.description }}</p>
                </div>
            {% endfor %}
        </div>
    </div>
</div>



