---
import type { CollectionEntry } from 'astro:content';
import Layout from './Base.astro';
export type Props = {
    title: string;
    description: string;
    category?: CollectionEntry<'categories'>
}

const { description, title, category } = Astro.props;

const patternClass = category ? `pattern-${category.id}` : '';
---

<Layout title={title} description={description}>
    <h1 class:list={[ 'pattern', patternClass ]}>
        <span class="guttered">{ title }</span>
    </h1>
    <div class="guttered">
        {description &&
            <p class="post-description">
                {description}
            </p>
        }
        <slot></slot>
    </div>
</Layout>