---
import type { CollectionEntry } from 'astro:content';
import Layout from './Base.astro';
import renderInlineMarkdown from '../utils/renderInlineMarkdown';
import PostDescription from '../components/PostDescription.astro';
export type Props = {
    title: string
    description: string
    ogImagePath: string
}

const { title, description, ogImagePath } = Astro.props;

const patternClass = '';
---

<Layout title={title} description={description} ogImagePath={ogImagePath}>
    <h1 class:list={[ 'u-pattern', patternClass ]}>
        <span class="u-guttered">{ title }</span>
    </h1>
    <div class="u-guttered">
        {description &&
            <PostDescription description={description}/>
        }
        <slot></slot>
    </div>
</Layout>