.site-nav {
    display: flex;
    padding: 0 1rem;
    border-bottom: 1px solid var(--color-gray-8);
    justify-content: space-between;
    align-items: stretch;
    height: 58px;

    ul {
        display: flex;
        margin: 0;
        padding: 0;
    }

    li {
        list-style: none;
    }

    .skip-to-content-link {
        background-color: var(--color-primary-2);
        height: 46px;
        left: 0;
        padding: 8px;
        position: absolute;
        transform: translateY(-100%);
        transition: transform 0.3s;
        z-index: 1;
        @media (prefers-reduced-motion: reduce) {
            transition: none;
        }
        &:focus {
            transform: translateY(0%);
        }
    }
    .logo-link {
        text-decoration: none;
        color: initial;
    }
    .nav-link {
        margin: 0;
        font-family: var(--font-accent);
        color: var(--color-gray-12);
        text-decoration: none;
        font-weight: bold;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        padding: 0 0.5rem;
        &:hover, &:focus {
            color: var(--color-primary-10);
        }
        &.active-link {
            border: 2px solid transparent;
            border-bottom: 2px solid var(--color-primary-9);
        }
    }
}