.site-nav-container {
    --guttered-content-width: 60rem;
    // border-bottom: 1px solid var(--color-gray-8);
    & nav {
        display: flex;
        padding: 0;
        justify-content: space-between;
        align-items: stretch;
        height: 58px;

        ul {
            display: flex;
            margin: 0;
            padding: 0;
        }

        li {
            list-style: none;
        }

        .skip-to-content-link {
            background-color: var(--color-primary-2);
            left: 50%;
            padding: 4px;
            top: -40px;
            position: absolute;
            font-weight: bold;
            text-transform: uppercase;
            font-family: var(--font-accent);
            transition: transform 0.2s;
            transform: translate(-50%, 0%);
            white-space: nowrap;
            @media (prefers-reduced-motion: reduce) {
                transition: none;
            }

            &:focus {
                transform: translate(-50%, 40px);
            }
        }

        .logo-link {
            text-decoration: none;
            color: initial;
        }

        .nav-link {
            margin: 0;
            font-family: var(--font-accent);
            color: var(--color-gray-12);
            text-decoration: none;
            font-weight: bold;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100%;
            padding: 0 0.5rem;

            &:hover,
            &:focus,
            &[aria-current=page]:hover,
            &[aria-current=page]:focus {
                color: var(--color-primary-11);
            }

            &[aria-current=page] {
                border-top: 2px solid transparent;
                border-bottom: 2px solid var(--color-primary-11);
            }
        }
    }
}
