<div class="share-links">
    Share this article:
    <ul class="share-links-list">
        {%- set links = [ 'Facebook', 'Twitter', 'LinkedIn', 'Email' ] -%}
        {%- set absolutePostUrl -%}{{- page.url | strip_default_locale | htmlBaseUrl(metadata.url) -}}{%- endset -%}
	    {%- for link in links -%}
        <li>
            <a href="{% shareLink link, absolutePostUrl, title %}" target="_blank">
                {{- link -}}
            </a>
        </li>
	    {%- endfor -%}
    </ul>
</div>