<header>
    <nav class="site-nav">
        <a class="skip-to-content-link" href="#main">Skip to Content</a>
        <a class="logo-link" aria-label="Home" href="/">
            {% include 'partials/logo.njk' %}
        </a>
        <ul>
            <li>
                <a class="nav-link" href="{{ '/' | url}}">
                    <span class="text">
                        Home
                    </span>
                </a>
            </li>
            <li>
                <a class="nav-link" href="{{ '/about' | url}}">
                    <span class="text">
                        About
                    </span>
                </a>
            </li>
        </ul>
    </nav>
</header>