<footer class="site-footer">
    <p>
        &copy; 2023 Tyler Mercer. {{ 'All rights reserved' | i18n -}}
    </p>
    <p>
        <a href="{{ "/" | locale_url }}">{{ 'Home' | i18n }}</a> |
        <a href="{{ "/now" | locale_url }}">{{ 'Now' | i18n }}</a> |
        <a href="{{ "/about" | locale_url }}">{{ 'About' | i18n }}</a> |
        <a href="{{ "/contact" | locale_url }}">{{ 'Contact' | i18n }}</a>
    </p>
    <p>
        <a href="/feeds/feed.xml">RSS</a> |
        <a href="/feeds/feed.json">JSON</a>
    </p>
</footer>
